---
layout: home
title: Profile
description: "Davide Pelosi's Profile"
comments: false
---

<div class="read-more">
    <div class="read-more-content author-info">
    <h3>{{site.owner.name}}</h3>
    <div class="author-container">
      <img class="author-img" src="{{site.url}}/{{site.owner.avatar}}" alt="{{site.owner.name}}" />
      <div class="author-bio" style="text-align:justify;">
        Computer Engineer, Entrepreneur and Enterprise Software Advisor.<br>
        <br>
        Davide has worked for years in Pre-sales and Consultancy roles for world class companies.<br>
        <br>
        Recognized expert in Enterprise Application Integration, API Management and Business Process Management, Davide currently works as freelance consultant for public and private companies, helping to adopt new business models based on data processing and open source software stack.<br>
        <br>
        Davide is also Scientific Director and professional instructor of big data and blockchain courses for Geeks Academy, other than collaborating with TIBCO Software in delivering architectural and product trainings to the EMEA TIBCO customers.
      </div>
    </div>
    <!--
    <div class="author-share">
      <ul class="list-inline social-buttons">
        {% for network in site.social %}
          <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }} fa-fw"></i></a></li>
        {% endfor %}
      </ul>
      {% if site.owner.github %}
        <a aria-label="Follow @{{site.owner.github}} on GitHub" data-style="mega" href="https://github.com/{{site.owner.github}}" class="github-button">Follow @{{site.owner.github}}</a>
      {% endif %}
      <br>
      {% if site.owner.twitter %}
        <a href="https://twitter.com/{{site.owner.twitter}}" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @{{site.owner.twitter}}</a>
      {% endif %}
    </div>
    -->
  </div>
</div>
