<!-- Icons -->
<!-- 16x16 -->
<!--<link rel="shortcut icon" href="{{ site.url }}/favicon_dpstudio.ico">-->
<!-- 32x32 -->
<!--<link rel="shortcut icon" href="{{ site.url }}/favicon_dpstudio.png">-->
<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
<!--<link rel="apple-touch-icon-precomposed" href="{{ site.url }}/images/apple-touch-icon-precomposed.png">-->
<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<!--<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/images/apple-touch-icon-72x72-precomposed.png">-->
<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<!--<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/images/apple-touch-icon-114x114-precomposed.png">-->
<!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
<!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/images/apple-touch-icon-144x144-precomposed.png">-->

<link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/images/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ site.url }}/images/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/images/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/images/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/images/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/images/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/images/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/images/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/images/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ site.url }}/images/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ site.url }}/images/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/images/favicons/favicon-16x16.png">
<link rel="manifest" href="{{ site.url }}/images/favicons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ site.url }}/images/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
