<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post-index">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NRCJN8N"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% include browser-upgrade.html %}
{% include header.html %}

<div id="main" role="main">
  {{ content }}

<!-- Google Search -->
<form action="/search" id="f" method="get"><div id="hf"></div><div class="" id="fkbx" style="width: 664px;"><div id="fkbx-text">Search Google or type URL</div><input id="q" aria-hidden="true" autocomplete="off" name="q" tabindex="-1" type="url" jsaction="mousedown:ntp.fkbxclk" style="opacity: 0;"><div id="fkbx_crt"></div><div id="fkbx-spch" tabindex="0" aria-label="Search by voice" style="display: block;"></div><div id="fkbx-hspch" tabindex="0" aria-label="Listening for &quot;Ok Google&quot;"></div><div id="fkbx-hht">Say "Ok Google"</div></div></form>
<!-- Google Search End -->

<!-- Paper.li -->
  <script type="text/javascript" src="https://s3.amazonaws.com/widgets.paper.li/javascripts/sr.iframe.min.js"></script>
  <script type="text/javascript">
    Paperli.PaperFrame.Show({
      domain: 'paper.li',
      pid: 'e8039c61-e94a-4149-b922-e1fc8369ba2f'
    });
  </script>
<!-- Paper.li End -->

</div><!-- /#main -->

{% include scripts.html %}

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

</body>
</html>
